body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a,
.address-contacts {
  text-decoration: none;
  font-style: normal;
}

:root {
  --main-color: #212121;
  --color-text: #757575;
  --main-text-height: 1.62;
  --text-height: 1.71;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

/* ------------------------HEADER---------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-connect {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

/* ------------------------NAVIGATION---------------------------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;

}

.logo-style {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 70;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 43px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--text-height);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.nav:hover,
.nav-contacts:hover,
.address-contacts:hover {
  color: #2196f3;
}

.section {
  padding-top: 46px;
}


.section-projects {
  padding-top: 81px;
  padding-bottom: 107px;
}

/* ------------------------BUTTONS---------------------------- */


.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 6px 25px;
}

/* ------------------------BUTTONS---------------------------- */

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 0;
}

.btn {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-style: none;
  letter-spacing: 0.03em;
  color: #212121;
}

.btn:hover {
  color: #FFFFFF;
  background: #2196F3;
}

/* ------------------------PROJECTS---------------------------- */


.projects {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}

.projects > li {
  background: #FFFFFF;
}

.bottom-title {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* ------------------------FOOTER---------------------------- */


.container-footer {
  background: #2F303A;
  padding: 60px 0;
}

.footer-logo-style {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer-connect {
  padding-left: 0;
}

.footer-connect > li:first-child {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
}

.address-contacts {
  font-size: 14px;
  line-height: var(--main-text-height);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}